

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html, body, #game-container {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}


#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: auto;
    text-align: center;
    padding: 0;
    color: white;
    background-image: url(stage.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.main-app {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}

.question-value {
    background-color: blue;
    text-align: center;
}
.question-value, .question-value th, .question-value td {
    border: 1px black solid;
    border-collapse: collapse;
}

.question-value thead th {
    background-color: #768d87;
    padding: 0.25em 0.5em;
}

.question-value tbody {
    background-color: lightgray;
    padding: 0.25em 0.5em;
}

.question-term-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}
.question-answer-button.question-term {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.question-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.question-options, .question-term-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px) {
    .question-options {
        flex-direction: column;
    }
}
.question-options .question-answer-button  {
    flex: 1 1 33%;
    text-align: left;
    cursor:pointer;
}

.question-answer-button {
	border:4px solid #a18aff;
    background-color: #333;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0.4) 100%);
	border-radius:2em;
	display:inline-block;
	color:#ffffff;
	padding:11px 20px;
    outline: none !important;
    margin: 1rem 2.5rem;
    position: relative;
    font-weight: bold;
    overflow: visible;
}

@media screen and (max-height: 750px) {
    .question-answer-button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.question-options .question-answer-button:not(:disabled):hover {
    background-image: linear-gradient(to bottom, #222 0%, #444 5%, #222 100%);
}

.question-options .question-answer-button.question-answer-double-dipped {
    background-color: rgb(255, 0, 0);
}
.question-options .question-answer-button.question-answer-was-correct {
    background-color: rgb(0, 255, 0);
}

.answer-letter {
    color: orange;
}
.answer-letter:before {
    content: '•\00a0\00a0';
    display: inline;
    color: white;
}

.question-answer-button-with-background::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-100vw);
    left: 0;
    width: 200vw;
    height: 4px;
    background-color:#a18aff;
    content: '';
    display: block;
    z-index: -1;
}


.question-answer-button:disabled {
    cursor: default;
}

.lifeline-options .question-answer-button:disabled, .get-started-button:disabled {
    opacity: 0.4;
}

/*
.question-answer-button:disabled::after {
    position: absolute;
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    display: block;
    content: '';
}
*/

td.fitwidth {
    width: 1px;
    padding: 8px;
    white-space: nowrap;
    color: white;
    font-weight: bold;
}

.vote-tally {
    background-color: gray;
    width: 100%;
    table-layout: auto;
    text-align: left;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vote-tally-bar {
    background-color: #2f5f80;
    color: white;
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 4px 0;
    padding: 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    white-space: nowrap;
}

.lifeline-list {
    text-align: left;
}
.lifeline-list li {
    margin-bottom: 1rem;
}

.lifeline-options {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}
.lifeline-options .question-answer-button {
    flex: 1 1 25%;
    margin: 0.5rem 1rem;
}

.decoration-image {
    width: 100%;
    max-width: 200px;
}

.question-side {
    flex: 1 1 auto;
}

.money-tower-container {
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px #fff solid;
    background-color: black;
    max-height: calc(100vh - 4rem);
    overflow: auto;
    margin-right: 2rem;
    min-width: 9em;
    flex: 0 1 auto;
}

.lifeline-note {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 500px) {
    .money-tower-container {
        display: none;
    }
}
@media screen and (min-width: 1400px) {
    .money-tower-container {
        position: fixed;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
    }
}
.money-tower {
    display: table;
    border-collapse:separate;
    border-spacing: 0.5em 0;
}

.money-tower-entry {
    display: table-row;
    color: orange;
    font-weight: bold;
}
.money-tower-entry.money-tower-entry-current {
    color: white;
}
.money-tower-entry > span {
    display: table-cell;
}
.money-tower-question-number {
    text-align: right;
    margin-right: 1em;
}
.money-tower-value {
    margin-left: 1em;
    text-align: left;
}